@media (prefers-color-scheme: light) {
  :root {
    --color-red: #eb6161;
    --color-yellow: #e8c13f;
    --color-green: #7ae47a;
    --color-orange: #e38b4c;
    --color-blue: #617fe3;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-red: #7e0b0b;
    --color-yellow: #798200;
    --color-green: #077807;
    --color-orange: #88430a;
    --color-blue: #0c2a84;
  }
}

table tbody tr td,
table thead tr th {
  text-align: left;
  padding: 2ch 1ch;

}

table thead tr th:first-child,
table tbody tr td:first-child {
  padding-left: 0;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  padding-right: 0;
}

button {
  cursor: pointer;
  min-width: 10ch;
  margin: 1ch 0;
  padding: 1ch;
  border: none;
  border-radius: 5px;
  font-weight: 900;
}

input[type="date"],
input[type="text"] {
  min-width: 10ch;
  padding: 0.85ch;
  border: none;
  border-radius: 5px;
  font-weight: 900;
}

button.primary {
  background-color: var(--color-green);
}

button:hover {
  filter: brightness(120%);
}

button.secondary {
  background-color: var(--color-blue);
}

button.secondary.active {
  background-color: var(--color-yellow);
  color: CanvasText;
}

div.popup {
  position: absolute;
  left: -1rem;
  background-color: Canvas;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid CanvasText;
}