
table tbody tr td, 
table thead tr th {
  text-align: left;
  padding: 2ch 1ch;

}
table thead tr th:first-child,
table tbody tr td:first-child {
  padding-left: 0;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  padding-right: 0;
}

button {
  cursor: pointer;
  min-width: 10ch;
  margin: 1ch 0;
  padding: 1ch;
  border: none;
  border-radius: 5px;
  font-weight: 900;
}


input[type="date"],input[type="text"] {
  min-width: 10ch;
  padding : 0.85ch;
  border: none;
  border-radius: 5px;
  font-weight: 900;
}

button.primary {
  background-color: #007bff;
}

button:hover {
  filter: brightness(120%);
}

button.secondary {
  background-color: #22425f;
}
button.secondary.inactive {
  border: 2px solid transparent;
}

button.secondary.active {
  color: yellow;
  border: 2px solid yellow;
}


div.popup {
  position: absolute;
  left: -1rem;
  background-color: Canvas;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid CanvasText;
}
    
