
table tbody tr td, 
table thead tr th {
  text-align: left;
  padding-right: 1rem;
}
button {
  cursor: pointer;
  min-width: 50px;
  margin: 4px 0;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

button.primary {
  background-color: #007bff;
}

button.primary:hover {
  background-color: #0056b3;
}
.row-done {
  color: grey;
}
.row-done td:first-child {
  text-decoration: line-through;
}