
table tbody tr td, 
table thead tr th {
  text-align: left;
  padding-right: 1rem;
}
button {
  cursor: pointer;
  min-width: 50px;
  margin: 1ch 0;
  padding: 1ch;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

button.primary {
  background-color: #007bff;
}

button:hover {
  filter: brightness(120%);
}

button.secondary {
  background-color: #22425f;
}

button.secondary.active {
  color: yellow
}

div.popup {
  position: absolute;
  left: -1rem;
  background-color: Canvas;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid CanvasText;
}
    
