:root {
  --dark-color-red: #7a1414;
  --dark-color-yellow: #695710;
  --dark-color-green: #106f10;
  --dark-color-orange: #624314;
  --dark-color-blue: #122869;

  --light-color-red: #eb6161;
  --light-color-yellow: #e8c13f;
  --light-color-green: #7ae47a;
  --light-color-orange: #e38b4c;
  --light-color-blue: #617fe3;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-red: var(--light-color-red);
    --color-yellow: var(--light-color-yellow);
    --color-green: var(--light-color-green);
    --color-orange: var(--light-color-orange);
    --color-blue: var(--light-color-blue);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-red: var(--dark-color-red);
    --color-yellow: var(--dark-color-yellow);
    --color-green: var(--dark-color-green);
    --color-orange: var(--dark-color-orange);
    --color-blue: var(--dark-color-blue);
  }
}

table tbody tr td,
table thead tr th {
  text-align: left;
  padding: 2ch 1ch;

}

table thead tr th:first-child,
table tbody tr td:first-child {
  padding-left: 0;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  padding-right: 0;
}

button {
  cursor: pointer;
  min-width: 10ch;
  margin: 1ch 0;
  padding: 1ch;
  border: none;
  border-radius: 5px;
  font-weight: 900;
}

input[type="date"],
input[type="text"] {
  min-width: 10ch;
  padding: 0.85ch;
  border: none;
  border-radius: 5px;
  font-weight: 900;
}

button.primary {
  background-color: var(--color-green);
}

button:hover {
  filter: brightness(120%);
}

button.secondary {
  background-color: var(--color-blue);
}

button.secondary.active {
  background-color: var(--color-yellow);
  color: CanvasText;
}

div.popup {
  position: absolute;
  left: -1rem;
  background-color: Canvas;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid CanvasText;
}